<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/main-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
            <!-- The navigation menu -->
            <div class="navbar">
                <a href="/medic-profil">Profil</a>
                <div class="dropdown">
                    <button class="dropbtn">Pacienti
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/lista-pacienti">Lista pacienti</a>
                        <a href="/invita-pacienti">Invita pacienti</a>
                        <a href="/transfer-pacienti">Transfer pacienti</a>
                    </div>
                </div>
            </div>
    </section>
</body>

</html>