<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/main-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
            <!-- The navigation menu -->
            <div class="navbar">
                <a href="/patient-home">Calendar</a>
                <a href="/patient-profile">Profile</a>
                <a href="/change-medic">Change doctor</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        <div class="form-patient">
            <div class="form-patient">
                <div class="login-text">
                    <h2>Edit profile</h2>
                </div>
                <form id="login" class="patient-group" action="" method="post">

                    <input type="submit" class="register-btn" value="Save changes">
                </form>
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                      {% endif %}</p>
                <a href="/patient-profile" class="back-btn">Back</a>
            </div>
        </div>
    </section>
     <script>
      window.onunload = function() {
        window.location.reload(true);
      };
    </script>
    <script>
      window.addEventListener('beforeunload', function (event) {
        // Send an AJAX request to the server to clear the session
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/clear-session', false);
        xhr.send(null);
      });
    </script>
</body>
</html>