<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <nav>
            <a href="/home"><img src="../static/logo.png"></a>
        </nav>
        <div class="text-box">
            <h1>Clinica medicilor de familie</h1>
            <p>Locul perfect in care iti poti vedea programarile sau pacientii intr-un mod frumos,<br> oragnizat si usor de inteles</p>
            <a href="/login" class="hero-btn">Login</a>
        </div>
    </div>

</body>
</html>