<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/main-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>
<body>
    <section class="header">
            <!-- The navigation menu -->
            <div class="navbar">
                <a href="/medic-home">Calendar</a>
                <a href="/medic-profil">Profil</a>
                <div class="dropdown">
                    <button class="dropbtn">Pacienti
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/lista-pacienti">Lista pacienti</a>
                        <a href="/invita-pacienti">Invita pacienti</a>
                        <a href="/transfer-pacienti">Transfer pacienti</a>
                    </div>
                </div>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            <div class="main-box">
                <div>
                    <h1 class="name">Lista Pacienti</h1>
                    <hr>
                    <div id="table"></div>
                </div>
            </div>

    </section>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
                      new gridjs.Grid({
                        columns: [
                          { id: 'fname', name: 'Prenume' },
                          { id: 'lname', name: 'Nume' },
                          { id: 'fisa_medicala', name: 'Fisa Medicala', sort: false }
                        ],
                        data: [
                          {% for patient in patients %}
                            {
                              fname: '{{ patient.first_name }}',
                              lname: '{{ patient.last_name }}',
                              fisa_medicala: '{{ patient.cnp }}'
                            },
                          {% endfor %}
                        ],
                        search: {
                          selector: (cell, rowIndex, cellIndex) => [0, 1, 2].includes(cellIndex) ? cell : null,
                        },
                        sort: true,
                        pagination: true,
                      }).render(document.getElementById('table'));
    </script>
</body>

</html>