<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <nav>
            <a href="/home"><img src="../static/logo.png"></a>
        </nav>
        <div class="hero">
            <div class="form-box">
                <div class="login-text">
                    <h2>Sign up</h2>
                </div>
                <form id="login" class="input-group" action="" method="post">
                    <input type="text" class="input-field" placeholder="Username" name="username" value="{{request.form.username }}">
                    <input type="text" class="input-field" placeholder="Email" name="email" value="{{request.form.email }}">
                    <input type="password" class="input-field" placeholder="Password" name="password" value="{{request.form.password}}"> <br><br>
                    <input type="submit" class="submit-btn" value="Register">
                </form>
                <a href="/login" class="back-to-login">Already have an account?</a>
            </div>
        </div>
    </section>
</body>
</html>