<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>FIICode2023 Challenge</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <section class="header">
        <nav>
            <a href="/home"><img src="../static/logo.png"></a>
        </nav>
        <div class="hero">
            <div class="form-patient">
                <div class="login-text">
                    <h2>Sign up Step 2</h2>
                </div>
                <form id="login" class="patient-group" action="" method="post">
                    <input type="text" class="patient-field" placeholder="Invite code" name="invite_code" value="{{request.form.invite_code}}">
                    <input type="text" class="patient-field" placeholder="Username" name="username" value="{{request.form.username }}">
                    <input type="text" class="patient-field" placeholder="First name" name="first_name" value="{{request.form.first_name}}">
                    <input type="text" class="patient-field" placeholder="Last name" name="last_name" value="{{request.form.last_name}}">
                    <input type="tel" class="patient-field" placeholder="Phone number" name="phone_number" value="{{request.form.phone_number}}">
                    <input type="text" class="patient-field" placeholder="Email" name="email" value="{{request.form.email }}">
                    <input type="text" class="patient-field" placeholder="Address" name="address" value="{{request.form.address}}">
                    <input type="text" class="patient-field" placeholder="Zipcode" name="serie_buletin" value="{{request.form.serie_buletin}}">
                    <input type="text" class="patient-field" placeholder="Passport ID" name="number_buletin" value="{{request.form.numar_buletin}}">
                    <input type="text" class="patient-field" placeholder="Personal numerical code" name="cnp" value="{{request.form.cnp}}">
                    <input type="text" class="patient-field" placeholder="Date of birth (dd/mm/yyyy)" name="birth_date" value="{{request.form.birth_date}}">
                    <input type="text" class="patient-field" placeholder="Marital status (Married/Not married)" name="marital_status" value="{{request.form.marital_status}}">
                    <input type="text" class="patient-field" placeholder="Gender (Male/Female)" name="gender" value="{{request.form.gender}}">
                    <input type="text" class="patient-field" placeholder="Medical record ID" name="medical_record_id" value="{{request.form.medical_record_id}}">
                    <input type="password" class="patient-field" placeholder="Password" name="password" value="{{request.form.password}}"> <br><br>
                    <input type="submit" class="register-btn" value="Next step">
                </form>
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}
                      {% endif %}</p>
                <a href="/choice" class="back-btn">Back</a>
                <a href="/login" class="back-to-login">Already have an account?</a>
            </div>
        </div>
    </section>
</body>
</html>